body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #e7e4ac;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #333;
  text-align: center;
  margin-bottom: 40px;
}

h2 {
  color: #444;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 15px;
}

p {
  font-size: 18px;
  text-align: center;
  line-height: 1.6;
  color: #555;
  max-width: 800px;
  margin: 0 auto 20px auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 20px;
}

.container-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.images-wrapper {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.image-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

img {
  width: 150px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button {
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  color: inherit;
  background-color: #ddf4dd;
}

.button:hover {
  text-decoration: underline;
}

.button:visited {
  color: inherit;
}

#app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
